


#row1 {    
    width: 175px;
    float: right;
}


#nav {   
    background-color: rgba(14, 13, 13, 0.3);  
    position: fixed;
    z-index: 105;    
}

#nav a {    
    color: white;
    font-size: 10px;
    font-weight: 400;
    letter-spacing:3px;   
} 


#nav li {    
    list-style: none;   
}


.navbutton {
    padding-left: 2px;
    margin-top: 20px;
}


#names {
    font-size: 40px;
    padding-top: 145px;
    margin-left: 40px;
    color: rgb(214, 142, 7);
    font-weight: 325;    
}


#title {    
    font-size: 30px;
    margin-left: 40px;
    color: rgb(214, 142, 7);
    font-weight: 315;
    margin-bottom: 100px;
}




#below-the-nav {
    height: 225px;
    background-image: url("../img/londonbridge_sunset.png");
    background-repeat: no-repeat;  
    background-size: 100% 100%;
      
}





.about-me {
    margin-left: 30px;
    color: rgb(5, 5, 153);
    margin-top: 30px;
    margin-bottom: 45px;
    font-weight: 330;
}


#overflow-text {
    height: 300px;
    overflow-y: scroll;
    color: rgb(136, 136, 248);
    font-weight: 200;
    margin-left: 30px;
    margin-right: 30px;
}


#techskills-box {    
    background-color: white;
    height: 900px;
    padding-bottom: 45px;      
}    

    
#techskills-box p {    
    font-weight: 200;
    
    margin-top: 3px;
}

#skills-profile-button {
    color: rgb(68, 67, 67);
    margin-left: 30px;
    padding-top: 30px;
    font-weight: 330;
}   




#html5_css3 {
    background-color: rgb(245, 241, 241);
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
    height:150px;    
}


#javascript {
    background-color: rgb(245, 241, 241);
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
    height:150px;
}


#python {
    background-color: rgb(245, 241, 241);
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
    height:150px;
}


#sql {
    background-color: rgb(245, 241, 241);
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
    height:150px;
}

.html5 {
    font-size: 30px;
    color:  rgb(68, 67, 67);
}

.css {
    font-size: 30px;
    color: rgb(68, 67, 67);
}

.js {
    font-size: 30px;
    color: rgb(68, 67, 67);

}

.python {
    font-size: 30px;
    color: rgb(68, 67, 67);
}

.sql {
    font-size: 30px;
    color: rgb(68, 67, 67);
}


.progress-bar {
    background-color:black;
    color: black;  

}


.timeofex {
    font-size: 12.5px;
    text-transform: capitalize;
}


#portfolio-section {
    background-color: rgb(61, 61, 87);
    height: 900px;
    width: 120%;
    padding-right: 80px;
    padding-bottom: 200px;    
    
}


#portfolio-button {
    color: #ffffff;
    padding-left: 30px;
    height: 125px;
    padding-top: 30px;
    font-weight: 330;
}


#git-hub {
    background-color: rgb(245, 241, 241);
    height: 150px;
    margin-bottom: 35px;
}


#git-hub1 {    
    background-color: rgb(245, 241, 241);
    height: 150px;
    margin-bottom: 35px;
}


#git-hub2 {
    background-color: rgb(245, 241, 241);
    height: 150px;
    margin-bottom: 35px;
}


#linked-in {
    background-color: rgb(245, 241, 241);
    height: 150px;
    margin-bottom: 35px;

}


#git-hub h5 {
    position: relative;
    left: 40px;
    top: 12.5px;
    font-weight: 450;
}



#git-hub1 h5 {
    position: relative;
    left: 40px;
    top: 12.5px;
    font-weight: 450;
}


#git-hub2 h5 {
    position: relative;
    left: 40px;
    top: 12.5px;
    font-weight: 450;
}


#linked-in h5 {
    position: relative;
    left: 40px;
    top: 12.5px;
    width: 20%;
    font-weight: 450;
}



.github {
    font-size: 50px;
    color: rgb(61, 61, 87);
    position: relative;
    left: 230px;
    top: 50px;

}


.github1 {
    font-size: 50px;
    color: rgb(61, 61, 87);
    position: relative;
    left: 230px;
    top: 50px;
   
}


.github2 {
    font-size: 50px;
    color:rgb(61, 61, 87);
    position: relative;
    left: 230px;
    top: 50px;
        
    
}

.linkedin {
    font-size: 50px;
    color: rgb(61, 61, 87);
    position: relative;
    left: 230px;
    top: 50px;
    
}



#git-hub h6 {
    position: relative;
    left: 350px;
    bottom: 55px;
    font-weight: 430;
}

#git-hub1 h6 {
    position: relative;
    left: 350px;
    bottom: 55px;
    font-weight: 430;
}

#git-hub2 h6 {
    position: relative;
    left: 350px;
    bottom: 55px;
    font-weight: 430;

}


#linked-in h6 {
    position: relative;
    left: 350px;
    bottom: 75px;
    font-weight: 430;

}




#git-hub p {
    position: relative;
    left: 350px;
    bottom: 50px;
    width: 60%;
    padding-right: 40px;
    font-weight: 330;
}

#git-hub1 p {
    position: relative;
    left: 350px;
    bottom: 50px;
    width: 60%;
    padding-right: 40px;
    font-weight: 330;

}

#git-hub2 p {
    position: relative;
    left: 350px;
    bottom: 50px;
    width: 60%;
    padding-right: 40px;
    font-weight: 330;

}

#linked-in p {
    position: relative;
    left: 350px;
    bottom: 70px;
    width: 60%;
    padding-right: 40px;
    font-weight: 330;

}



#work-experience-column {
    background-color: white;
    height: 450px;
}


.work-experience {
    color: rgb(214, 142, 7);
    padding-top: 30px;
    padding-left: 30px;
    margin-bottom: 30px;
    font-weight: 330;
} 

.workexscroll {
    padding-left: 45px;
}


#work-experience-column p {
    font-weight: 200; 
    font-size: 15px;
    padding-left: 60px;
    color: rgb(214, 142, 7);
    width: auto;
}



#work-experience-column h4 {
    color: rgb(68, 67, 67);
    font-size: 20px;
    font-weight: 200;
    padding-left: 60px;
    padding-top: 7.5px;
    width: auto;
}



#contactme-section {
        
    height: 450px;    
    background-image: url("../img/mail-and-phone%20blacked%20out.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 150;   
}


.contact-me {
    color: white;
    font-weight: 330;
    margin-left: 30px;
    padding-top: 30px;
    
    
}

.contact {
    padding-bottom: 100px;
}


#name {
    width: 285px;  
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2px;
    font-size: 16px;   
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    z-index: 96;
}


#name:focus {
    width: 500px;
    background-color: rgb(229, 229, 240);  
}


#phone {
    width: 285px;  
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2px;
    font-size: 16px;   
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}


#phone:focus {
    width: 500px;
    background-color: rgb(229, 229, 240);
}


#email {
    width: 285px;  
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2px;
    font-size: 16px;   
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}  


#email:focus {
    width: 500px;
    background-color: rgb(229, 229, 240);
}


#message {
    width: 285px;  
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2px;
    font-size: 16px;  
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

#message:focus {
    width: 500px;
    background-color: rgb(229, 229, 240);
    height: 80px;
}


input {
    color: blue;
    margin-top: 10px;
    z-index: 108;
}   


form {
    margin-left: 150px;
    margin-top: 60px;
    z-index: 105;   
}   


#footer {
    background-color: #ffffff;
    height: 20px;
}


.social-networks {
    text-align: center;
    padding-top: 30px; 
    padding-right: 100px;  
}

.social-networks li {
    display: inline;
    margin-left:60px;
    font-size: 33px;
}


#copyright {
    float: right;
    color: rgb(214, 142, 7);
    font-size: 10px;   
}


@media screen and (max-width: 486px) {

    .workexscroll {
        overflow-y: scroll;
        height: 300px;
        padding-right: 25px;
        margin-right: 30px;
        
        
    }


}



@media screen and (max-width: 490px) {

    form {
        margin-left: 30px;
        
        
    }



    #name {
        width: 200px;
        height: 40px;
        padding: 5px;
    }

    #phone {
        width: 200px;
        height: 40px;
        padding: 5px;
    }

    #email {
        width: 200px;
        height: 40px;
        padding: 5px;
    }

    #message {
        width: 200px;
        height: 40px;
        padding: 5px;
    }

    #work-experience-column p {
        padding-left: 10px;
    }

    #work-experience-column h4 {
        padding-left: 10px;
    }

    #nav {
        padding-right: 90px;
    }


    


}






@media screen and (min-width: 992px) {

    
    #row1 {        
        height: 75px;        
        position: fixed;
        z-index: 200;
    }

   
    #nav {
        background-color: white;        
    }   


    #nav a {    
        font-size: 20px;
        color: rgb(5, 5, 153);
        font-weight: 100;
    }

    .navbutton {
        float: right;
        margin-top: 20px;    
    }


    #nav li {
        display: inline; 
        letter-spacing: 2px;
        margin-right: 20px;  
    }

    a:hover{
        text-decoration: none;
        color: black;
    }


    #my-name {
        height: 450px;
        background-color: rgb(255, 255, 255);   
    }


    #below-the-nav {
        background-image: url("../img/londoncity-birdseye-view_edited3.jpg");
        background-repeat: no-repeat;
        background-size: 100% 120%;
        height: 450px;
        opacity: 0.9;
    }     


    #names {
        font-size: 40px;
        padding-top: 160px;
        margin-left: 40px;
        color: rgb(214, 142, 7);
        font-weight: 325;
    }    


    #title {    
        font-size: 30px;
        margin-left: 40px;
        color: rgb(214, 142, 7);
        font-weight: 315;
    } 



    #about-me {
        height: 450px;
        background-color: white;
    }



    .about-me {
        margin-left: 30px;
        color: rgb(5, 5, 153);
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: 330;
    }


    #thinking-man {    
        background-image: url("../img/thinking-man-768x508.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        opacity: 0.9;
    }


    #overflow-text {
        height: 300px;
        overflow-y: scroll;
        color: rgb(136, 136, 248);
        font-weight: 200;
        margin-left: 30px;
        margin-right: 30px;
    }



    #techskills-box {
        background-color: rgb(245, 241, 241);
        height: 250px;
        padding-top: 17.5px;
        padding-right: 50px;    
    }




    #techskills-box p {
        margin-bottom: 7px;
        font-weight: 200;
    }




    #skills-profile-button {
        color: rgb(68, 67, 67);
        margin-left: 30px;
        padding-top: 30px;
        font-weight: 330;
    }


    .progress {
        margin-bottom: 7px;
    }

    /*

    .col-lg-2 {
        background-color: white;        
        width: 100px;
        margin-top: 40px;
        text-transform: uppercase;
        text-align: center;    
    }

    */

    #html5_css3 {
        background-color: white;
        height:125px; 
         
    }


    #javascript {
        background-color: white;
        height:125px; 
    }

    #python {
        background-color: white;
        height:125px; 
    }


    #sql {
        background-color: white;
        height:125px; 
    }


    .timeofex {
        font-size: 12.5px;
        text-transform: capitalize;    
    }


    #portfolio-section {
        background-color: rgb(61, 61, 87);
        height: 250px;
        padding-top: 17.5px;
        padding-right: 250px;
        
    }   



    #portfolio-button {
        color: #ffffff;
        padding-left: 30px;        
        padding-top: 30px;
        font-weight: 330;
    }


    #git-hub {
        background-color: rgb(245, 241, 241);
        height: 125px;
        margin-bottom: 35px;
       
        
    }


    #git-hub1 {    
        background-color: rgb(245, 241, 241);
        height: 125px;
        margin-bottom: 35px;
    }


    #git-hub2 {
        background-color: rgb(245, 241, 241);
        height: 125px;
        margin-bottom: 35px;
    }


    #linked-in {
        background-color: rgb(245, 241, 241);
        height: 125px;
        margin-bottom: 35px;

    }


    #git-hub h5 {
        position: relative;
        left: 40px;
        top: 12.5px;
        font-weight: 450;
    }



    #git-hub1 h5 {
        position: relative;
        left: 40px;
        top: 12.5px;
        font-weight: 450;
    }


    #git-hub2 h5 {
        position: relative;
        left: 40px;
        top: 12.5px;
        font-weight: 450;
    }


    #linked-in h5 {
        position: relative;
        left: 40px;
        top: 12.5px;
        width: 20%;
        font-weight: 450;
    }



    .github {
        font-size: 50px;
        color: rgb(61, 61, 87);
        position: relative;
        left: 230px;
        top: 50px;

    }


    .github1 {
        font-size: 50px;
        color: rgb(61, 61, 87);
        position: relative;
        left: 230px;
        top: 50px;
   
    }


    .github2 {
        font-size: 50px;
        color:rgb(61, 61, 87);
        position: relative;
        left: 230px;
        top: 50px;
        
    
    }

    .linkedin {
        font-size: 50px;
        color: rgb(61, 61, 87);
        position: relative;
        left: 230px;
        top: 50px;
    
    }



    #git-hub h6 {
        position: relative;
        left: 350px;
        bottom: 55px;
        font-weight: 430;
    }

    #git-hub1 h6 {
        position: relative;
        left: 350px;
        bottom: 55px;
        font-weight: 430;
    }

    #git-hub2 h6 {
        position: relative;
        left: 350px;
        bottom: 55px;
        font-weight: 430;

    }   


    #linked-in h6 {
        position: relative;
        left: 350px;
        bottom: 75px;
        font-weight: 430;

    }




    #git-hub p {
        position: relative;
        left: 350px;
        bottom: 50px;
        width: 60%;
        padding-right: 40px;
        font-weight: 330;
    }

    #git-hub1 p {
        position: relative;
        left: 350px;
        bottom: 50px;
        width: 60%;
        padding-right: 40px;
        font-weight: 330;

    }

    #git-hub2 p {
        position: relative;
        left: 350px;
        bottom: 50px;
        width: 60%;
        padding-right: 40px;
        font-weight: 330;

    }

    #linked-in p {
        position: relative;
        left: 350px;
        bottom: 70px;
        width: 60%;
        padding-right: 40px;
        font-weight: 330;

    }

    

    #work-experience-column {
        background-color: white;
        height: 450px;
    }


    .work-experience {
        color: rgb(214, 142, 7);
        padding-top: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
        font-weight: 330;
    } 

    #work-experience-column p {
        font-weight: 200; 
        font-size: 15px;
        padding-left: 60px;
        color: rgb(214, 142, 7);
    }

    #work-experience-column h4 {
        color: rgb(68, 67, 67);
        font-size: 20px;
        font-weight: 200;
        padding-left: 60px;
        padding-top: 7.5px;
    }

    #working-men {
        background-image: url("../img/workingman-blue_edited.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        opacity: 0.9;
    }


    #contactme-section {
        background-color: white;
        height: 450px;   
    }


    .col-lg-6 {
        background-color: white;
    }




    #telephone-box {
        background-image: url("../img/mail-and-phone%20red%20final.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        opacity: 0.9;
    }

    .contact-me {
        color: rgb(5, 5, 153);
        font-weight: 330;
        margin-left: 30px;
        margin-top: 30px;
    }



    #name {
        width: 385px;  
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 2px;
        font-size: 16px;   
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;

    }

    #name:focus {
        width: 500px;
        background-color: rgb(229, 229, 240);
  
    }

    #phone {
        width: 385px;  
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 2px;
        font-size: 16px;   
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;

    }

    #phone:focus {
        width: 500px;
        background-color: rgb(229, 229, 240);

    }


    #email {
        width: 385px;  
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 2px;
        font-size: 16px;   
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;

    }   

    #email:focus {
        width: 500px;
        background-color: rgb(229, 229, 240);

    }


    #message {
        width: 385px;  
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 2px;
        font-size: 16px;  
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;
    }

    #message:focus {
        width: 500px;
        background-color: rgb(229, 229, 240);
        height: 80px;
    }

    input {
        color: blue;
        margin-top: 10px;
    }   


    form {
        margin-left: 90px;
        margin-top: 60px;    
    }   


    #footer {
        background-color: #ffffff;
        height: 20px;
    }

    .social-networks {
        text-align: center;
        padding-top: 30px;
         
    }

    .social-networks li {
        display: inline;
        margin-left:60px;
        font-size: 33px;
        
    }


    #copyright {
        float: right;
        color: rgb(214, 142, 7);
        font-size: 10px;
    }


}     




  
 

   
   




