


#row1 {    
    width: 33%;
    float: right;
}



#nav {   
    background-color: rgb(255, 255, 255, 0.4);  
    position: fixed;
    z-index: 105; 
   
}



#nav a {    
    color: rgb(116, 115, 115);
    font-size: 10px;
    font-weight: 400;
    letter-spacing:3px; 
  
}    



#nav li {    
    list-style: none;

    
}


.navbutton {
    padding-left: 2px;
    margin-top: 20px;
    

}



#names {
    font-size: 40px;
    padding-top: 145px;
    margin-left: 40px;
    color: rgb(214, 142, 7);
    font-weight: 325;
    
}   



#title {    
    font-size: 30px;
    margin-left: 40px;
    color: rgb(214, 142, 7);
    font-weight: 315;
    margin-bottom: 100px;

}






#below-the-nav {
    height: 225px;
    background-image: url("../img/londonbridge_sunset.png");
    background-repeat: no-repeat;  
    background-color: rgb(255, 255, 255);
    background-size: 100% 100%;
    opacity: 0.8;

    
}





.about-me {
    margin-left: 30px;
    color: rgb(214, 142, 7);
    margin-top: 30px;
    margin-bottom: 45px;
    font-weight: 330;
    

}


#overflow-text {
    height: 300px;
    overflow-y: scroll;
    color: rgb(218, 167, 73);
    font-weight: 200;
    margin-left: 30px;
    margin-right: 30px;


}






#techskills-box {
    
    background-color: white;
    height: 900px;
    padding-bottom: 45px;
      
}    

    
#techskills-box p {
    
    font-weight: 200;

}

#skills-profile-button {
    color: rgb(68, 67, 67);
    margin-left: 30px;
    padding-top: 30px;
    font-weight: 330;
}

/*

.col-lg-2 {
    background-color: white;
    height: 100px;
    width: 100px;
    margin-top: 50px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    
}

*/

#html5_css3 {
    background-color: rgb(245, 241, 241);
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    height:150px;
   
   
    
}


#javascript {
    background-color: rgb(245, 241, 241);
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    height:150px;
    

}

#python {
    background-color: rgb(245, 241, 241);
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    height:150px;
    
    


}


#sql {
    background-color: rgb(245, 241, 241);
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    height:150px;


}





.timeofex {
    font-size: 12.5px;
    text-transform: capitalize;
}


#portfolio-section {
    background-color: rgb(61, 61, 87);
    height: 150px;

}



#portfolio-button {
    color: #ffffff;
    padding-left: 30px;
    height: 125px;
    padding-top: 30px;
    font-weight: 330;

}


fa fa-github {
    color: red;

}

fa fa-linkedin-in{
    color: green; 


}

#work-experience-column {
    background-color: white;
    height: 450px;

}

.work-experience {
    color: rgb(214, 142, 7);
    padding-top: 30px;
    padding-left: 30px;
    margin-bottom: 30px;
    font-weight: 330;

} 

#work-experience-column p {
    font-weight: 200; 
    font-size: 15px;
    padding-left: 60px;
    color: rgb(214, 142, 7);

}



#work-experience-column h4 {
    color: rgb(68, 67, 67);
    font-size: 20px;
    font-weight: 200;
    padding-left: 60px;
    padding-top: 7.5px;

}


#contactme-section {
        
    height: 450px;
    background-image: url("../img/mail-and-phone%20red%20final.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.7;
    z-index: 150;
    
   
}


.contact-me {
    color: white;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 30px
    text-shadow: 0px 0px 10px #000000;

}



#name {
    width: 250px;  
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2px;
    font-size: 16px;   
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    z-index: 96;

}

#name:focus {
    width: 500px;
    background-color: rgb(229, 229, 240);
  
}

#phone {
    width: 250px;  
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2px;
    font-size: 16px;   
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;

}

#phone:focus {
    width: 500px;
    background-color: rgb(229, 229, 240);

}


#email {
    width: 250px;  
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2px;
    font-size: 16px;   
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;

}   

#email:focus {
    width: 500px;
    background-color: rgb(229, 229, 240);

}


#message {
    width: 250px;  
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2px;
    font-size: 16px;  
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;

}

#message:focus {
    width: 500px;
    background-color: rgb(229, 229, 240);
    height: 80px;

}

input {
    color: blue;
    margin-top: 10px;
    z-index: 108;

}   


form {
    margin-left: 90px;
    margin-top: 60px;
    z-index: 105;
    
}   


#footer {
    background-color: #ffffff;
    height: 20px;

}

.social-networks {
    text-align: center;
    padding-top: 30px;
   
}

.social-networks li {
    display: inline;
    margin-left:60px;
    font-size: 20px;
  


}


#copyright {
    float: right;
    color: rgb(214, 142, 7);
    font-size: 10px;    

}










@media screen and (min-width: 992px) {

    
    #row1 {        
        height: 75px;        
        position: fixed;
        z-index: 200;

    }

    
    


   
    #nav {
        background-color: white;
        
    }      

    


    #nav a {    
        font-size: 20px;
        color: rgb(114, 175, 199);
        font-weight: 100; 
        

    }

    .navbutton {
        float: right;
        margin-top: 20px;
    
    }


    #nav li {
        display: inline; 
        letter-spacing: 2px;
        margin-right: 20px;
        
  
    }

    a:hover{
        text-decoration: none;
        color: black;
    }
    
    
    
    



    #my-name {
        height: 450px;
        background-color: rgb(255, 255, 255);
    
   
    }



    #below-the-nav {
        background-image: url("../img/londoncity-birdseye-view_edited3.jpg");
        background-repeat: no-repeat;
        background-size: 100% 120%;
        height: 450px;
        opacity: 0.9;

    }


     


    #names {
        font-size: 40px;
        padding-top: 160px;
        margin-left: 40px;
        color: rgb(214, 142, 7);
        font-weight: 325;
    }

    


    #title {    
        font-size: 30px;
        margin-left: 40px;
        color: rgb(214, 142, 7);
        font-weight: 315;
    }

    



    #about-me {
        height: 450px;
        background-color: white;
    }



    .about-me {
        margin-left: 30px;
        color: rgb(5, 5, 153);
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: 330;

    }




    #thinking-man {    
        background-image: url("../img/thinking-man-768x508.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        opacity: 0.9;
    }






    #overflow-text {
        height: 300px;
        overflow-y: scroll;
        color: rgb(136, 136, 248);
        font-weight: 200;
        margin-left: 30px;
        margin-right: 30px;


    }



    #techskills-box {
        background-color: rgb(245, 241, 241);
        height: 250px;
        padding-top: 17.5px;
        padding-right: 50px;    
    }




    #techskills-box p {
        margin-bottom: auto;
        font-weight: 200;
    }




    #skills-profile-button {
        color: rgb(68, 67, 67);
        margin-left: 30px;
        padding-top: 30px;
        font-weight: 330;

    }



    .col-lg-2 {
        background-color: white;
        
        width: 100px;
        margin-top: 40px;
        text-transform: uppercase;
        text-align: center;
        
    
    }

    #html5_css3 {
        background-color: white;
        height:125px;   
    }


    #javascript {
        background-color: white;
        height:125px; 

    }

    #python {
        background-color: white;
        height:125px; 
    
    


    }


    #sql {
        background-color: white;
        height:125px; 


    }


    .timeofex {
        font-size: 12.5px;
        text-transform: capitalize;
    
    
    
    }



    #portfolio-section {
        background-color: rgb(61, 61, 87);
        height: 150px;

    }



    #portfolio-button {
        color: #ffffff;
        padding-left: 30px;
        height: 125px;
        padding-top: 30px;
        font-weight: 330;

    }



    #work-experience-column {
        background-color: white;
        height: 450px;

    }

    .work-experience {
        color: rgb(214, 142, 7);
        padding-top: 30px;
        padding-left: 30px;
        margin-bottom: 30px;
        font-weight: 330;

    } 

    #work-experience-column p {
        font-weight: 200; 
        font-size: 15px;
        padding-left: 60px;
        color: rgb(214, 142, 7);

    }

    #work-experience-column h4 {
        color: rgb(68, 67, 67);
        font-size: 20px;
        font-weight: 200;
        padding-left: 60px;
        padding-top: 7.5px;

    }

    #working-men {
        background-image: url("../img/workingman-blue_edited.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        opacity: 0.9;

    }


    #contactme-section {
        background-color: white;
        height: 450px;
   
    }


    .col-lg-6 {
        background-color: white;
    }




    #telephone-box {
        background-image: url("../img/mail-and-phone%20red%20final.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        opacity: 0.9;

    }

    .contact-me {
        color: rgb(5, 5, 153);
        font-weight: 330;
        margin-left: 30px;
        margin-top: 30px
        

    }



    #name {
        width: 250px;  
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 2px;
        font-size: 16px;   
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;

    }

    #name:focus {
        width: 500px;
        background-color: rgb(229, 229, 240);
  
    }

    #phone {
        width: 250px;  
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 2px;
        font-size: 16px;   
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;

    }

    #phone:focus {
        width: 500px;
        background-color: rgb(229, 229, 240);

    }


    #email {
        width: 250px;  
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 2px;
        font-size: 16px;   
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;

    }   

    #email:focus {
        width: 500px;
        background-color: rgb(229, 229, 240);

    }


    #message {
        width: 250px;  
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 2px;
        font-size: 16px;  
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;

    }

    #message:focus {
        width: 500px;
        background-color: rgb(229, 229, 240);
        height: 80px;

    }

    input {
        color: blue;
        margin-top: 10px;

    }   


    form {
        margin-left: 90px;
        margin-top: 60px;
    
    }   


    #footer {
        background-color: #ffffff;
        height: 20px;

    }

    .social-networks {
        text-align: center;
        padding-top: 30px;
   
    }

    .social-networks li {
        display: inline;
        margin-left:60px;
        font-size: 20px;
  


    }


    #copyright {
        float: right;
        color: rgb(214, 142, 7);
        font-size: 10px;    

    }
    
  



}     




  
 

   
   




